/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}

h1, h2, h3 {
    color: #007bff; /* Azul brillante */
}

/* Estilos de los botones */
button, button a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

button:hover, button a:hover {
    background-color: #0056b3; /* Un azul más oscuro al pasar el mouse */
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para la lista de productos */
.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s;
    position: relative;
}

.product:hover {
    transform: scale(1.05);
}

/* Estilos para los modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Tamaño fijo */
    background-color: rgba(173, 216, 230, 0.9); /* Color de fondo celeste con opacidad */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #007bff;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos para el formulario de aumento */
#formularioContainer {
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

/* Estilos para el botón de buscar */
#buscador + button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el enlace dentro del botón */
button a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el enlace del historial */
.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

